@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: var(--font-family);
  position: relative;
}

:root {
  --green: #6d9886;
  --white: #f7f7f7;
  --orange: #f2e7d5;
  --dark: #393e46;
  --red: #e97777;
  --blue: #58a6ff;

  --font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 695px;
  margin: 10px auto;
}

.content-wrapper {
  padding: 0px 20px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}
